body{ background-color: rgb(37, 36, 36); justify-self: center; }

.Calculator{ transition: none; border-radius: 24px; background-color: white; margin-top: 50px; width: 324px; height: 300px; } 

.Calculator button{ border: 1px solid rgb(179, 179, 179); background-color: white; border-radius: 0px; margin-left: 16px; margin-top: 26px; width: 42px; height: 28px; }
.Calculator button .toggle{ background-color: rgb(179, 179, 179); margin-left: -3px; margin-top: 0px; width: 12px; height: 20px; }
.Calculator .ModeText{ cursor: default; position: absolute; margin-left: 8px; margin-top: 26px; font-size: 1.2rem; color: rgb(179, 179, 179); }

.Calculator .DisplayScreen{ transition: 0.3s ease-in-out; border: 1px solid rgb(179, 179, 179); border-radius: 8px; margin-left: 12px; margin-top: 8px; width: 272px; height: 128px;  }
.Calculator .DisplayScreen input{ border: 1px solid white; outline: none; padding-left: 24px; margin-top: 72px; width: 270px; font-size: 1.8rem; }

.Calculator .CalculateBtn{ border: 1px solid rgb(255, 30, 30); border-radius: 4px; background-color: rgb(255, 30, 30); font-size: 1.5rem; color: white; margin-left: 66px; margin-top: 32px; width: 132px; padding-left: 32px; padding-right: 122px; padding-bottom: 38px; }
.Calculator .CalculateBtn:hover { border: 1px solid rgb(253, 70, 70); background-color: rgb(253, 70, 70); transition: 0.1s ease-in-out; }
.Calculator .ButtonBottom{ background-color: rgb(117, 30, 30); border-radius: 4px; margin-left: 66px; margin-top: -17px; width: 156px; height: 22px; }  

.Calculator .NumpadModeScreen{ display: none; border: 1px solid rgb(179, 179, 179); border-radius: 8px; position: absolute; z-index: 1; margin-left: 12px; margin-top: 8px; width: 272px; height: 128px; }

/* operators */
.Calculator .OperatorButtons-1{display: none; border-radius: 6px; position: absolute; z-index: 1; margin-top: -46px; padding-left: 2px; padding-right: 2px; height: 42px; font-size: 1.4rem; color: white; }
.Calculator .OperatorButtons-1:hover{ border: 1px solid rgb(68, 66, 66); background-color: rgb(68, 66, 66); }

.Calculator .OperatorButtons-2{display: none; border-radius: 6px; position: absolute; z-index: 1; margin-left: 75px; margin-top: -46px; padding-left: 2px; padding-right: 2px; height: 42px; font-size: 1.4rem; color: white; }
.Calculator .OperatorButtons-2:hover{ border: 1px solid rgb(68, 66, 66); background-color: rgb(68, 66, 66); }

.Calculator .OperatorButtons-3{display: none; border-radius: 6px; position: absolute; z-index: 1; margin-left: 136px; margin-top: -46px; padding-left: 2px; padding-right: 2px; height: 42px; font-size: 1.4rem; color: white; }
.Calculator .OperatorButtons-3:hover{ border: 1px solid rgb(68, 66, 66); background-color: rgb(68, 66, 66); }

.Calculator .OperatorButtons-4{display: none; border-radius: 6px; position: absolute; z-index: 1; margin-left: 195px; margin-top: -46px; padding-left: 2px; padding-right: 2px; height: 42px; font-size: 1.4rem; color: white; }
.Calculator .OperatorButtons-4:hover{ border: 1px solid rgb(68, 66, 66); background-color: rgb(68, 66, 66); }

/* numpads */
.Calculator .NumpadButtons-1{display: none; border-radius: 6px; position: absolute; z-index: 1; margin-top: 12px; padding-left: 2px; padding-right: 2px; height: 42px; font-size: 1.4rem; color: white; }
.Calculator .NumpadButtons-1:hover{ border: 1px solid rgb(68, 66, 66); background-color: rgb(68, 66, 66); }

.Calculator .NumpadButtons-2{display: none; border-radius: 6px; position: absolute; z-index: 1; margin-left: 75px; margin-top: 12px; padding-left: 2px; padding-right: 2px; height: 42px; font-size: 1.4rem; color: white; }
.Calculator .NumpadButtons-2:hover{ border: 1px solid rgb(68, 66, 66); background-color: rgb(68, 66, 66); }

.Calculator .NumpadButtons-3{display: none; border-radius: 6px; position: absolute; z-index: 1; margin-left: 136px; margin-top: 12px; padding-left: 2px; padding-right: 2px; height: 42px; font-size: 1.4rem; color: white; }
.Calculator .NumpadButtons-3:hover{ border: 1px solid rgb(68, 66, 66); background-color: rgb(68, 66, 66); }

.Calculator .ClearValButton{display: none; border-radius: 6px; position: absolute; z-index: 1; margin-left: 242px; margin-top: -46px; padding-left: 2px; padding-right: 2px; height: 42px; font-size: 1.4rem; color: white; }
.Calculator .ClearValButton:hover { border: 1px solid rgb(253, 70, 70); background-color: rgb(253, 70, 70); transition: 0.1s ease-in-out; }


.Calculator .NumpadButtons-4{display: none; border-radius: 6px; position: absolute; z-index: 1; margin-top: 100px; padding-left: 2px; padding-right: 2px; height: 42px; font-size: 1.4rem; color: white; }
.Calculator .NumpadButtons-4:hover{ border: 1px solid rgb(68, 66, 66); background-color: rgb(68, 66, 66); }

.Calculator .NumpadButtons-5{display: none; border-radius: 6px; position: absolute; z-index: 1; margin-left: 75px; margin-top: 12px; padding-left: 2px; padding-right: 2px; height: 42px; font-size: 1.4rem; color: white; }
.Calculator .NumpadButtons-5:hover{ border: 1px solid rgb(68, 66, 66); background-color: rgb(68, 66, 66); }

.Calculator .NumpadButtons-6{display: none; border-radius: 6px; position: absolute; z-index: 1; margin-left: 136px; margin-top: 12px; padding-left: 2px; padding-right: 2px; height: 42px; font-size: 1.4rem; color: white; }
.Calculator .NumpadButtons-6:hover{ border: 1px solid rgb(68, 66, 66); background-color: rgb(68, 66, 66); }

.Calculator .DecimalButton{display: none; border-radius: 6px; position: absolute; z-index: 1; margin-left: 242px; margin-top: 164px; padding-left: 2px; padding-right: 2px; height: 42px; font-size: 1.4rem; color: white; }
.Calculator .DecimalButton:hover { border: 1px solid rgb(253, 70, 70); background-color: rgb(253, 70, 70); transition: 0.1s ease-in-out; }


.Calculator .NumpadButtons-7{display: none; border-radius: 6px; position: absolute; z-index: 1; margin-top: 226px; padding-left: 2px; padding-right: 2px; height: 42px; font-size: 1.4rem; color: white; }
.Calculator .NumpadButtons-7:hover{ border: 1px solid rgb(68, 66, 66); background-color: rgb(68, 66, 66); }

.Calculator .NumpadButtons-8{display: none; border-radius: 6px; position: absolute; z-index: 1; margin-left: 75px; margin-top: 226px; padding-left: 2px; padding-right: 2px; height: 42px; font-size: 1.4rem; color: white; }
.Calculator .NumpadButtons-8:hover{ border: 1px solid rgb(68, 66, 66); background-color: rgb(68, 66, 66); }

.Calculator .NumpadButtons-9{display: none; border-radius: 6px; position: absolute; z-index: 1; margin-left: 136px; margin-top: 226px; padding-left: 2px; padding-right: 2px; height: 42px; font-size: 1.4rem; color: white; }
.Calculator .NumpadButtons-9:hover{ border: 1px solid rgb(68, 66, 66); background-color: rgb(68, 66, 66); }

.Calculator .NumpadButtons-0{display: none; border-radius: 6px; position: absolute; z-index: 1; margin-left: 75px; margin-top: 226px; padding-left: 2px; padding-right: 2px; height: 42px; font-size: 1.4rem; color: white; }
.Calculator .NumpadButtons-0:hover{ border: 1px solid rgb(68, 66, 66); background-color: rgb(68, 66, 66); }
